:root {
  --light-100: #e9e3e3;
  --main-900: #4b2637;
  --accent-900: #7d2941;
  --gray-800: #b4a2a2;
}

/* ---- Base Rules ---- */
body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--light-100);
  font-family: "Times New Roman", Times, serif;
  padding-top: 60px;
}

h2 {
  color: var(--accent-900);
  font-size: 32px;
}

/* Typeography General*/

/* Start Main Header */
.main-header {
  background-color: var(--main-900);
  color: var(--light-100);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  /* View height - navbar height - top margin */
  min-height: calc(100vh - 60px - 4px);
}

@media (min-width: 767px) {
  .main-header h1 {
    font-size: 60px;
  }
}
/* End Main Header */

/* Start Navigation */
.main-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.main-navbar * {
  color: white;
}

.main-navbar .wrapper {
  background-color: var(--main-900);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navbar ul {
  list-style: none;
  height: 60px;
  margin: 0;
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;
}

.main-navbar .logo {
  margin-right: auto;
  padding: 0 20px;
}

.main-navbar ul li {
  height: 100%;
  display: inline-block;
}

.main-navbar ul li a {
  display: inline-block;
  padding: 0 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-navbar ul li a.active {
  background-color: var(--accent-900);
}

/* Small Screen Navigation */
main-navbar ul.show {
  opacity: 1;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: var(--accent-900);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-navbar ul.show li {
  display: block;
  height: auto;
}

.main-navbar ul.show li a {
  padding: 8px;
}

.main-navbar .toggle-menu {
  padding: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 12;
}

.main-navbar span {
  display: block;
  width: 20px;
  height: 4px;
  background-color: white;
}

.main-navbar span:not(:last-child) {
  margin-bottom: 4px;
}

@media (min-width: 767px) {
  .main-navbar .toggle-menu {
    display: none;
  }

  .main-navbar ul {
    display: block !important;
    opacity: 1 !important;
  }
}
/* End Navigation */

/* Start Sections */
main > section {
  padding: 60px 0;
  transition: background-color 0.25s ease-in-out;
  border: 5px solid transparent;
}

main > section.active {
  border-color: black;
  background-color: var(--gray-800);
}
/* End Sections */

/* Footer Styles */
/* ---- Theme Rules ---- */
/* Landing Container Styles */
.container {
  padding: 0 20px;
}

@media only screen and (min-width: 767px) {
  .container {
    padding: 0 60px;
  }
}
